:root {
    --bg-color: #F9F8F8;
    --primary-color: #F3A5C0;
    /* --primary-color: #EEB044; */
    --secondary-color: #B084CC;
    --font-color: #424242;
}

[data-theme="dark"] {
    --bg-color: #272838;
    --primary-color: #EF476F;
    --secondary-color: #A2C185;
    --font-color: #F9F8F8;
}

body {
    font-family: 'Recursive', sans-serif;
    margin: 2em;
    padding-left: 10em;
    padding-right: 10em;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 1.25em;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.25em;
}

h1, h2 {
    color: var(--secondary-color);
}

h1 {
    padding-top: 2em;
}
/* Toggle Switch Classes */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    float: right;
  }

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: var(--primary-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: var(--primary-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Contact + Resume Section */

  .contact-and-resume {
      display: flex;
      flex-direction: column;
  }

  /* Contact me list */

  .icon-size{
    font-size: 2em;
    justify-content: center;
    padding-right: 1em;
    padding-left: 0.75em;
  }
  .contact-me {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 0;
  }

  .contact-me > li {
      padding-right: 1em;
      font-size: 2em;
  }

  /* Skills List */

  .skills-list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0;
  }

  .skills-list > li {
      background-color: var(--primary-color);
      border-radius: 1000px;
      margin-right: 1em;
      margin-bottom: 0.5em;
      padding: 0.5em;
  }

  /* Animation on clicakbale items */

  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.2); }