:root {
    --bg-color: #F9F8F8;
    --primary-color: #F3A5C0;
    /* --primary-color: #EE5187; */
    /* --primary-color: #EE81A7; */
    /* --primary-color: #F3A5C0; */
    /* --primary-color: #EEB044; */
    --secondary-color: #A870CC;
    --tertiary-color: #d8ffcb;
    --subtitles: #3D315B;
    --font-color: #424242;
    --slider-thumb: #424242;
}

[data-theme="dark"] {
    --bg-color: #272838;
    --primary-color: #D90368;
    --secondary-color: #A2C185;
    --tertiary-color: #AFFC41;
    --font-color: #F9F8F8;
    --slider-thumb: #F9F8F8;
    --subtitles: #E2AFDE;
}

body {
    font-family: 'Recursive', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 1.25em;
    padding: 0;
    margin: 0;
    /* width:100%; */
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.25em;
}

h1, h2 {
    color: var(--secondary-color);
}

h1 {
    margin-top: 0.5em;
    font-size: 2.5em;
    margin-bottom: 0;
}

h3 {
  color: var(--subtitles)
}

section {
  margin-top: 3em;
}

.header {
  background-color: var(--primary-color);
  height: 6em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  max-width: 72ch;
  margin: 0.75em auto;
  padding: 0.5em;
}

.gutters {
  max-width: 72ch;
  margin: 0 auto;
}

.icon-color {
  color: var(--tertiary-color)
}

.tagline {
  font-style: italic;
}

.logo {
  width: 5em;
  height: 5em;
  margin-left: 4em;
}
/* .test {
  margin-left: 10em;
  
} */

/* Toggle Switch Classes */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    float: right;
    margin-left: 4em;
  }

.theme-switch {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 60px;
}
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: var(--tertiary-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: var(--slider-thumb);
    bottom: 4px;
    content: "";
    height: 22px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 22px;
  }
  
  input:checked + .slider {
    background-color: var(--tertiary-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Contact + Resume Section */

  .contact-and-resume {
      display: flex;
      flex-direction: column;
  }

  /* Contact me list */

  .icon-size{
    font-size: 1.75em;
    justify-content: center;
    padding-left: 0.75em;
  }
  /* .contact-me {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 0;
  }

  .contact-me > li {
      padding-right: 1em;
      font-size: 2em;
  } */

  /* Skills List */

  .skills-list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
  }

  .skills-list > li {
      background-color: var(--primary-color);
      border-radius: 1000px;
      margin-right: 1em;
      margin-bottom: 0.5em;
      padding: 0.5em;
      font-size: large;
  }

  /* Animation on clicakbale items */

  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.2); }

  .skills-transition { transition: all .2s ease-in-out; }

  /* Scrollbar */

  ::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--secondary-color)
}